{% extends "base.html" %}
{% load blog_extras %}

{% load blog_extras cache %}  <!-- -->

{% block content %}
<h2>{{ post.title }}</h2>
{% row %}
    <div class="col">
        {% include "blog/post-byline.html" %}
        {% include 'blog/post-comments.html' %}
    </div>
{% endrow %}
{% row %}
    <div class="col">
        {{ post.content|safe }}
    </div>

    {% col %}
      <!-- {% cache 3600 recent_posts %}  -->
      {% cache 3600 recent_posts post %}
          {% recent_posts post %}
      <!-- {% endcache %} not working -->
    {% endcol %}

{% endrow %}
{% endcache %}
{% endblock %}